### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [88]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)
#school_data.head(10)
#student_data

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
5,5,Bryan Miranda,M,9,Huang High School,88,93,0,Government,2917,1910635
6,6,Sheena Carter,F,11,Huang High School,73,60,0,Government,2917,1910635
7,7,Nicole Baker,F,12,Huang High School,69,64,0,Government,2917,1910635
8,8,Michael Roth,M,10,Huang High School,94,66,0,Government,2917,1910635
9,9,Matthew Greene,M,10,Huang High School,64,77,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [91]:
#----------Collect the summary data-------------

# Count the number of unique school names in school_data_complete dataframe
total_no_schools = len(school_data_complete["school_name"].unique())

# Count the number of unique student numbers in school_data_complete dataframe
total_no_students = len(school_data_complete["Student ID"].unique())

# Sum all data in the budget column in the school_data dataframe
total_budget = school_data["budget"].sum()

# Average the maths score column in school_data_complete dataframe
average_maths_score = school_data_complete["maths_score"].mean()

# Average the reading score column in school_data_complete dataframe
average_reading_score = school_data_complete["reading_score"].mean()

# Calculation on the percentage of students that got 50% or over in maths
perc_passing_maths = len(school_data_complete[school_data_complete["maths_score"] >= 50]) / total_no_students * 100

# Calculation on the percentage of students that got 50% or over in reading
perc_passing_reading = len(school_data_complete[school_data_complete["reading_score"] >= 50]) / total_no_students * 100

# Calculation on the percentage of students that got 50% or over in maths & reading
perc_passing_maths_and_reading = len(school_data_complete.loc[(school_data_complete["maths_score"] >= 50) &
                                    (school_data_complete["reading_score"] >= 50), :]) / total_no_students *100


#----------Collate the summary data-------------

# create new dataframe from summary data using a dictionary
local_government_summary_df = pd.DataFrame({"Total Schools": [total_no_schools],	
                                "Total Students": [total_no_students],
                            	"Total Budget": [total_budget],	
                                "Average Maths Score": [average_maths_score],
                            	"Average Reading Score": [average_reading_score],
                            	"% Passing Maths": [perc_passing_maths],
                            	"% Passing Reading": [perc_passing_reading],
                                "% Overall Passing": [perc_passing_maths_and_reading]})

#----------Format the summary data-------------

### format rows to dispay commas, $ or % where relative

# comma
local_government_summary_df["Total Students"] = local_government_summary_df["Total Students"].map("{:,}".format)

# comma, $ and 2 decimal places
local_government_summary_df["Total Budget"] = local_government_summary_df["Total Budget"].map("${:,.2f}".format)

# 2 decimal places
local_government_summary_df["Average Maths Score"] = local_government_summary_df["Average Maths Score"].map("{:.2f}".format)

# 2 decimal places
local_government_summary_df["Average Reading Score"] = local_government_summary_df["Average Reading Score"].map("{:.2f}".format)

# 2 decimal places and %
local_government_summary_df["% Passing Maths"] = local_government_summary_df["% Passing Maths"].map("{:.2f}%".format)

# 2 decimal places and %
local_government_summary_df["% Passing Reading"] = local_government_summary_df["% Passing Reading"].map("{:.2f}%".format)

# 2 decimal places and %
local_government_summary_df["% Overall Passing"] = local_government_summary_df["% Overall Passing"].map("{:.2f}%".format)

#----------Display the summary data-------------

#Display new dataframe
local_government_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.34,69.98,86.08%,84.43%,72.81%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [90]:
school_names = school_data_complete["school_name"].unique()
print(school_names)
no_students_per_school = len(school_data_complete.groupby["school_name"]["Student ID"].unique())
print(no_students_per_school)

#school_data_complete_grouped = school_data_complete.groupby("school_name")
#school_data_complete_grouped[["reading_score", "maths_score"]].mean()  
#print(school_data_complete_grouped["type"])

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

TypeError: 'method' object is not subscriptable

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type